h2 {
    color: #92D505;
}

.couleur {
    color: blue;
}

.a {
    text-decoration: none;
}

.nav {
    height: 100vh;
    background: rgba(208, 238, 240, 0.966);
    margin-bottom: 10px;
}

.card-img-top {
    height: 50vh;
    max-height: 10rem;
    padding: 1em;
    border-radius: 50%;
}

.body {
    background-image: url(img/greenearth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.headline {
    font-size: 50px;
    font-weight: 100px;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}

.text {
    font-size: 25px;
    font-weight: 50vh;
    color: rgb(14, 6, 8);
    margin-top: 5vh;
    padding: 20px;
    line-height: 10vh;
}

#content {
    width: 200px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-direction: row;
}

.box {
    width: 50px;
    height: 50px;
}

.title {
    margin-top: 10vh;
    text-transform: uppercase;
    color: rgb(14, 8, 1);
    text-align: center;
}

.card {
    margin-bottom: 25px;
    margin: 50px;
}

.container {
    background-image: url(img/gogreen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titre {
    text-align: center;
}

.image {
    margin: 10px;
    padding: 20px;
    border: solid 1px;
}

.logo {
    background-image: url(img/logo\ \(2\).jpg);
}

.lignes {
    text-align: center;
    padding: 1em;
    margin-top: 20px;
}

.navigation {
    margin-top: 20px;
    line-height: 10vh;
    color: #ffff;
    background-color: green;
}

.navigation ul {
    list-style-type: none;
}

.navigation ul {
    display: flex;
}

.navigation li {
    margin-right: 10vh;
    color: honeydew;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffff;
}

.globe {
    margin: 1em;
    border: solid 1px;
    border-color: green;
}

.btn-green {
    background-color: green;
    color: white;
}